@model List<MeuProjetoMVC.Models.ZetaJogos>

@{
    ViewData["Title"] = "Zeta Jogos";
}
<link href="~/css/lista.css" rel="stylesheet" />

<div id="dTable">
    <h2>Lista de Jogos</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Classificação</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var j in Model)
            {
                <tr>
                    <td>@j.codZetaJ</td>
                    <td>@j.nomeJogo</td>
                    <td>@j.classificacaoEtaria</td>
                    <td>@j.categoria</td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="Editar" asp-route-id="@j.codZetaJ"><img src="~/img/editar.png" title="Editar jogo" /></a>
                        <a class="btn btn-danger btn-sm" asp-action="Excluir" asp-route-id="@j.codZetaJ"><img src="~/img/excluir.png" title="Excluir jogo" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="dBtn">
    <a class="btn btn-primary" href="/ZetaJogos/Criar">Adicionar jogo</a>
</div>