@model IEnumerable<MeuProjetoMVC.Models.Sub_Categoria>;

@{
    // Quando formos usar uma ViewBag como variavel, é necessário declarar seu tipo.
    // Como a estrutura foi um List<SelectListItem> na controller, é bom criar do mesmo tipo, pois tem os mesmos campos.
    var cat = ViewBag.Categoria as List<SelectListItem>;
    TempData["title"] = "Área das subcategorias";
  
    // Se for transformar qualquer arquivo temporário ou tipo de dados da controller, seja por função ou etc...
    // E for inserir numa variavel... Declara o tipo... algumas vezes pode não da erro... Mas declare
    var men = TempData["MensagemS"] as string;
    var erro = TempData["ErroS"] as string;
}

<link  rel="stylesheet" href="~/css/"/>



<body>

    <div>
        <h2>Subcategorias</h2>
    </div>


    <a asp-action="Cadastrar"></a>
    @if (men != null)
    {
        <p>@men;</p>
    }

    @if( erro != null)
    {
        <p>@erro</p>
    }

    @if(Model.Any())
    {
        <table>
            <thead>
                <tr>
                    <td>Código</td>
                    <td>Subcategoria</td>
                    <td>Categoria</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Model)
                {
                    // Declara um nome, vasculha no cat que se tornou uma SelectListItem
                    // Procurando pelo valor da lista, que foi dada a variavel de c, sendo uma variavel temporária.
                    // E faz uma comparação, a caso algum item da lista tenha o valor de c, ele vai trazer o campo de texto se existir (?.Text) ou (??) vai trazer nulo "sem categoria"
                    var nomecat = cat.FirstOrDefault(c => c.Value == s.codCat.ToString())?.Text ?? "Sem categoria";
                    <tr>
                        <td>@s.codSub</td>
                        <td>@s.nomeSubcategoria</td>
                        <td>@nomecat</td>
                        <td>
                            <div>
                                <form asp-action="Editar">
                                    <input type="hidden" name="codSub" value="@s.codSub" />
                                    <button type="submit"> <img src="~/img/editar.png" alt="Editar"/> </button>
                                </form>
                            </div>
                           @*FALTA A IMAGEM DE EXCLUIR!!!*@
                          
                            <div>
                                <form asp-action="Excluir">
                                    <input type="hidden" name="codSub" value="@s.codSub" />
                                    <button type="submit" onsubmit="return confirm('Deseja apagar essa subcategoria?')"><img src="~/img/excluir" alt="Excluir" /></button>
                                </form>
                            </div>

                        </td>
                    </tr>
                }

            </tbody>
        </table>

    }
    else
    {
        <p>Nenhuma subcategoria foi cadastrada</p>
    }    
</body>