@model List<MeuProjetoMVC.Models.CartItem>

@{
    ViewData["Title"] = "Carrinho de Compras";
}

<link rel="stylesheet" href="~/css/carrinho.css" />

@if (TempData["Mensagem"] != null)
{
    <p id="mensagemSucesso">@TempData["Mensagem"]</p>
}

@if (Model == null || !Model.Any())
{
    <p style="text-align:center;">Seu carrinho está vazio.</p>
}
else
{
    <div style="display: flex; flex-direction: row; justify-content: space-around; margin-bottom: 60px;">
        <section>
            <div id="dTableCarrinho" style="display: flex; flex-direction: column;">
                <h2 style="margin: 15px 0px;">Carrinho de Compras</h2>

                <table id="tabelaCarrinho">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Preço Unitário</th>
                            <th>Quantidade</th>
                            <th>Total</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*Pegar o nome via conexão conectividade com o codigo para achar o nome*@
                                @*<td>@item.Nome</td>*@ 
                                <td>R$ @item.ValorUnitario</td>
                                <td>
                                    <form asp-action="UpdateQuantity" method="post" style="display:inline;">
                                        <input type="hidden" name="produtoId" value="@item.codProd" />
                                        <input type="number" name="quantidade" value="@item.Quantidade" min="1" />
                                        <button type="submit">Atualizar</button>
                                    </form>
                                </td>
                                <td>R$ @item.Total</td>
                                <td>
                                    <a class="btn btn-danger" style="color: white;" asp-action="Remove" asp-route-id="@item.codProd">Remover</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <h3 id="totalCompra">
                    Total da Compra: <strong>R$ @ViewBag.TotalCompra</strong>
                </h3>
            </div>


        </section>
        <section style="margin-top: -10px;">
            <form method="post" asp-action="Checkout" id="formCheckout">
                <h3 style="text-align:center;">Finalizar Compra</h3>
                <div>
                    <label>Nome do Cliente:</label>
                    <input type="text" name="nomeCliente" required />
                </div>

                <div>
                    <label>Email:</label>
                    <input type="email" name="emailCliente" required />
                </div>

                <div>
                    <label>Forma de Pagamento:</label>
                    <select name="formaPagamento" required>
                        <option value="PIX">PIX</option>
                        <option value="Credito">Crédito</option>
                        <option value="Parcelado 6x">Parcelado 6x sem juros</option>
                    </select>
                </div>

                <button type="submit">Concluir Compra</button>
            </form>
        </section>
    </div>
}
