@model List<MeuProjetoMVC.Models.CartItem>

@{
    ViewData["Title"] = "Carrinho de Compras";
    var produtos = ViewBag.Produtos as List<MeuProjetoMVC.Models.Produto> ?? new List<MeuProjetoMVC.Models.Produto>();
}

<link rel="stylesheet" href="~/css/carrinho.css" />

@if (TempData["Mensagem"] != null)
{
    <p id="mensagemSucesso">@TempData["Mensagem"]</p>
   
}

@if (Model == null || !Model.Any() || !produtos.Any())
{
    <p style="text-align:center;">Seu carrinho está vazio.</p>
}
else
{
    <div style="display: flex; flex-direction: row; justify-content: space-around; margin-bottom: 60px;">
        <section>
            <div id="dTableCarrinho" style="display: flex; flex-direction: column;">
                <h2 style="margin: 15px 0px;">Carrinho de Compras</h2>

                <table id="tabelaCarrinho">
                    <thead>
                        <tr>
                            <th>Imagem</th>
                            <th>Produto</th>
                            <th>Preço Unitário</th>
                            <th>Quantidade</th>
                            <th>Desconto</th>
                            <th>Total</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var produto = produtos.FirstOrDefault(p => p.codProd == item.codProd);
                            double desconto = Convert.ToDouble(produto.Desconto);
                            double valor = Convert.ToDouble(produto.Valor);
                            var precoUnitario = desconto > 0 ? valor * (1 - desconto / 100)
                            : valor;

                            <tr>
                                <td>
                                    @if(produto?.Imagens.Length > 0)
                                    {
                                        <figure>
                                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(produto.Imagens)" alt="produto.nome" />
                                        </figure>
                                    }
                                    else
                                    {
                                        <p>Sem Imagem desse produto</p>
                                    }
                                </td>
                                <td>@produto.nomeProduto</td>
                                <td>R$: @($"{precoUnitario}")</td>
                                <td>
                                    <form asp-action="UpdateQuantity" method="post" style="display:inline;">
                                        <input type="hidden" name="produtoId" value="@item.codProd" />
                                        <input type="number" name="quantidade" value="@item.Quantidade" min="1" />
                                        <button type="submit">Atualizar</button>
                                    </form>
                                </td>
                                <td>@produto.Desconto</td>
                                <td>R$ @item.Valor</td>
                                <td>
                                    <a class="btn btn-danger" style="color: white;" asp-action="Remove" asp-route-id="@item.codProd">Remover</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <h3 id="totalCompra">
                    Total da Compra: <strong>R$ @ViewBag.TotalCompra</strong>
                </h3>
            </div>


        </section>
        <section>
                 <a href="/sistema/Venda/Index" class="btn btn-success">Finalizar Compra</a>
        </section>
    </div>
}
