@model IEnumerable<MeuProjetoMVC.Models.Fornecedor>
@{
    ViewData["Title"] = "Fornecedores";
}
<link href="~/css/lista.css" rel="stylesheet" />

<h2>Fornecedores</h2>
@if (Model != null && Model.Any())
{
    <div id="dTable">
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>CNPJ</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CodF</td>
                        <td>@item.CNPJ</td>
                        <td>@item.Nome</td>
                        <td class="w-fit mx-auto">
                            <a class="btn btn-warning btn-sm" asp-action="Editar" asp-route-id="@item.CodF">Editar</a>
                            <a class="btn btn-danger btn-sm" asp-action="Excluir" asp-route-id="@item.CodF">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Nenhum fornecedor encontrado.</p>
}
<div id="dBtn">
    <a class="btn btn-primary" asp-action="Criar">Novo Fornecedor</a>
</div>